@supports (scrollbar-color: auto) {
    .scrollbar {
        scrollbar-color: transparent var(--color-white);
        scrollbar-width: thin;
    }

    .scrollbar:hover {
        scrollbar-color: var(--color-gray-400) var(--color-white);
    }
}
