/* Modified from https://codepen.io/devstreak/pen/dMYgeO */

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(96, 165, 250);

    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.5, transparent),
        to(transparent)
    );
}
