.react-tabs__tab-list {
    @apply flex pb-4 lg:pb-0 text-sm lg:text-base border-t-2 lg:border-t-0 border-b bg-white justify-around lg:justify-start;
}

.react-tabs__tab {
    @apply mb-0 lg:border-b-4 p-2 hover:border-blue-400 cursor-pointer;
}

.react-tabs__tab--selected {
    @apply border-blue-400 font-bold text-blue-600 lg:text-black;
}

.react-tabs__tab-panel {
    @apply hidden bg-white m-2 lg:m-0 border lg:border-0 rounded-sm lg:rounded-none shadow-lg lg:shadow-none;
}

.react-tabs__tab-panel-viewer {
    @apply border-0;
}

/* Viewer tab requires special CSS, because EduViewer#ZoomToAnnotation requires
   the Viewer to be rendered  at proper height & width, setting the height
   and width isn't 100% accurate but is accurate enough that no-one notices. */
.react-tabs__tab-panel-viewer:not(.react-tabs__tab-panel--selected) {
    display: block;
    position: absolute;
    top: 9999px;
    right: 9999px;
    width: 100%;
    height: 100%;
}

.react-tabs__tab-panel--selected {
    @apply block;
}
