.annotation {
    fill: transparent;
    stroke: rgb(255, 0, 0);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.annotation.selected--annotation {
    stroke: rgb(255, 255, 0);
}
