.annotation {
    fill: transparent;
    stroke: rgb(255, 0, 0);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.annotation.selected--annotation {
    stroke: rgb(255, 255, 0);
}

/*  Fix for Safari -- for some reason .openseadragon-container does not inherit the parent height. Solution to this is
    to set #Viewer to position: relative and .openseadragon-container to position: absolute

    See https://stackoverflow.com/questions/33636796/chrome-safari-not-filling-100-height-of-flex-parent */

#Viewer {
    position: relative;
}

#Viewer .openseadragon-container {
    position: absolute !important;
}

/* Measurements */

.measurement {
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.measurement--line {
    fill: transparent;
    stroke: rgb(255, 0, 0);
}

.measurement--area {
    fill: rgb(255, 0, 0, 0.3);
    stroke: rgb(255, 0, 0);
}

.measurement-tag {
    z-index: 10;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 2px 6px;
    font-weight: bold;
    cursor: default;
}
