@import "tailwindcss";

/* See: https://tailwindcss.com/docs/upgrade-guide#default-border-color */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
